.slider-div{

    /* You can change the width and heigth in slider.js */

    border: 1px solid rgb(49, 49, 49);
    border-radius: 2px;

    position: relative;
}

.images-div{
    display: flex;
    position: relative;

    z-index: 1;

    left: 0;
    transition: all ease 1s;
}


.slider-div img{
    object-fit: cover;
}

.arrow-div{
    width: 25%;

    z-index: 2;
    position: absolute;
    opacity: 0.9;
}

.arrow-div img{
    width: 50px;
    height: auto;
}

.left{
    padding-left: 10px;
}

.right{
    padding-left: 75px;
}

.dot{
    width: 16px;
    height: 16px;
    border-radius: 100px;

    margin-left: 3px;

    background-color: rgb(168, 168, 168);

    display: inline-block;
}

.dot-current{
    width: 8px;
    height: 8px;
    border-radius: 100px;

    margin-left: 3px;

    background-color: rgb(71, 71, 71);
}

.dots-div{
    margin-top: 10px;
    display: inline-block;
}