.slider-div{

    /* You can change the width and heigth in slider.js */

    border: 1px solid rgb(49, 49, 49);
    border-radius: 2px;

    position: relative;
}

.images-div{
    display: flex;
    position: relative;

    z-index: 1;

    left: 0;
    transition: all ease 1s;
}


.slider-div img{
    object-fit: cover;
}

.arrow-div{
    width: 25%;

    z-index: 2;
    position: absolute;
    opacity: 0.3;
}

.left{
    background-color: blue;
}

.right{
    background-color: rgb(255, 0, 0);
}