.slider-div{

    /* You can change the width and heigth in slider.js */

    border: 1px solid rgb(49, 49, 49);
    border-radius: 2px;
}

.images-div{
    display: flex;
    position: relative;
}

.slider-div img{
    object-fit: cover;
}
